@import url('./../../App.css');

.footer {
    position: relative;
    width: 100%;
    background-color: #161624; 
    color: white;
}

.footer-content {
    padding-left: 30px;
    padding-right: 30px;
}

.logo-footer{
    height: 60px;
    margin-top: 0;
    
}

.image-footer {
    width: 160px;
    margin-top: 25px;
    
}

.footer-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1;
}

.legalcy {
    justify-self: start;
    padding-left: 5%;
}

.ubication {
    justify-self: end;
    padding-right: 5%;
}
