@import url('./../../App.css');

h1 {
    font-weight: 600;
}

.start-now {
    margin-top: var(--margin-extra-large);
}

.container {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: default;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.imageAbout {
    width:auto;
    height: auto;
    max-width: 78.4%;
}

.iconoAbout {
    width:auto;
    height: auto;
    max-width: 45%;
}

/*Escritorio*/
@media (min-width: 1199.98px) {
    h1 {
        font-size: var(--font-size-extra-large);
    }
    h2 {
        font-size: var(--font-size-medium);
    }
    .container-child {
        padding-left: var(--margin-extra-large);
        padding-right: var(--margin-extra-large);
        padding-bottom: 0%;
    }
}

/*Tablet o escritorio pequeño */
@media (min-width: 576px) and (max-width: 1198px) {
    h1 {
        font-size: var(--font-size-medium);
    }
    h2 {
        font-size: var(--font-size-small);
    }
    .container-child {
        padding-left: var(--margin-extra-large);
        padding-right: var(--margin-extra-large);
        padding-bottom: 0px;
    }
}

/*Movil*/
@media (max-width: 575.98px) {
    h1 {
        font-size: var(--font-size-medium);
    }
    h2 {
        font-size: var(--font-size-small);
    }
    .container-child {
        padding-left: var(--margin-large);
        padding-right: var(--margin-large);
        padding-bottom: var(--margin-large);
    }
}
