@import url('./../../App.css');

h1 {
    margin-top: var(--margin-extra-large);
    margin-bottom: var(--margin-small);
    letter-spacing: normal;
    line-height: 1;
}

.container-info-login {
    background-color: var(--white-color);
    color: var(--primary-color);
    cursor: default;
}

.mi-componente {
    position: relative; /* Para posicionar el fondo y el contenido correctamente */
    border-radius: 56px; /* Bordes redondeados */
    width: 400px; /* Ancho del componente */
    height: 200px; /* Alto del componente */
    margin: auto;
    background-color: red;
    transition: height 0.3s; /* Suavizar la transici칩n de altura */
    text-align: center;
    color: white;
    overflow: hidden;
}

.mi-componente:hover {
    height: 520px; /* Expande la altura del componente al hacer hover */  
}

.mi-componente .fondo {
    height: 200px; /* Alto del componente */
    background-image: url('../../assets//images/conductor-info.png'); /* Reemplaza con tu URL de imagen */
    background-size: contain ; /* Ajusta la imagen al tama침o del componente */
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.mi-componente .descripcion {
    margin-right: 12px;
    margin-left: 12px;
    overflow: hidden; /* Para que el contenido extra no sobresalga */
    transition: height 0.3s; /* Transici칩n suave para el efecto de deslizamiento */
}

.mi-componente:hover .descripcion {
    height: auto; /* Se expande hacia abajo al colocar el cursor */
}

/*Escritorio*/
@media (min-width: 1199.98px) {
    h1 {
        font-size: var(--font-size-extra-large);
    }
    h2 {
        font-size: var(--font-size-medium);
    }
    .container-child {
        padding-left: var(--margin-extra-large);
        padding-right: var(--margin-extra-large);
        padding-bottom: 0%;
    }
}

/*Tablet o escritorio peque침o */
@media (min-width: 576px) and (max-width: 1198px) {
    h1 {
        font-size: var(--font-size-medium);
    }
    h2 {
        font-size: var(--font-size-small);
    }
    .container-child {
        padding-left: var(--margin-extra-large);
        padding-right: var(--margin-extra-large);
        padding-bottom: 0px;
    }

    .mi-componente {
        width: auto;
    }
}

/*Movil*/
@media (max-width: 575.98px) {
    h1 {
        font-size: var(--font-size-medium);
    }
    h2 {
        font-size: var(--font-size-small);
    }
    .container-child {
        padding-left: var(--margin-large);
        padding-right: var(--margin-large);
        padding-bottom: var(--margin-large);
    }

    .mi-componente {
        width: auto;
    }
}
