.container-child-info {
    padding-left: var(--margin-extra-large);
    padding-right: var(--margin-extra-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-heading {
    font-weight: 200%;
    font-size: 200%;
    text-align: center;
    margin-top: 5%; /* Ajusta el margen superior del encabezado según tu preferencia */
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding-top: 1%;
    padding-bottom: 15%;
}


.info-card {
    padding-top: 10%;
    padding-bottom: 10%;
    height: 250px;
}




.info-icon {
    width: 60%;
    height: 120px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    margin: auto; /* Añade margen automático para centrar verticalmente */
}
