@import url('../../../App.css');

body {
    background-color: beige;
}

button, a {
    cursor: pointer;
}

.title-form {
    color: var(--primary-color);
}

.card-form-login {
    background-color: var(--white-color);
    margin-top: 20px;
    border-radius: 20px;
    padding-bottom: 15%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Esto alinea el texto al centro */
}

.imageDriverRegister {
    width: 47.5%;
    height: 100%;
}

.divImageContainer{
    display: flex;
    padding-left: 5%;
}

.divLogin{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.registerColor{
    color: dimgray
}

.input-form-email {
    font-family: "Poppins", sans-serif;
    height: 40px;
    width: 80%;
    margin: 3px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
}

.input-form-md {
    font-family: "Poppins", sans-serif;
    height: 40px;
    width: 70%;
    margin: 3px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
}

.div-bt{
    display: flex;
    justify-content: center;
}

.card-file {

    align-items: center; /* Centra verticalmente */
    justify-content: center;
    background-color: var(--bg-color);
    margin-top: 20px;
    border-radius: 20px;
    padding: 1%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 5px; /* Ajusta el espacio entre el texto y la línea */
}