@import url('../../../App.css');

body {
    background-color: #F1F1F1;
}

button, a {
    cursor: pointer;
}

.title-form {
    color: var(--primary-color);
}

.container-child-singup {
    align-items: center;
    text-align: center;
    margin-left: 50px;
}

.card-form {
    background-color: var(--white-color);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    height: 600px;
}

#alert-dialog-title, #alert-dialog-description {
    font-family: "Poppins", sans-serif;
}

.img-register {
    bottom: 0;
    right: 0;
    width: 900px;
    height: 100%;
    object-fit: cover;
}

.input-form {
    /* Other styling for input-form */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}

.readonly-input {
    color: #999; /* Lighter text color for read-only fields */
    background-color: #f5f5f5; /* Optional: slightly different background color */
}


@media (min-width: 968px) {
    .card-form {
        margin-top: 50px !important;
        max-width: 700px;
        height: 480px;
    }
}

@media (max-width: 967px) {
    .card-form {
        margin-top: 50px !important;
        max-width: 700px;
        height: 650px;
        margin-bottom: 80px !important;
    }
}