@import url('../../../App.css');

body {
    background-color: #F1F1F1;
}

button, a {
    cursor: pointer;
}

.title-form {
    color: var(--primary-color);
}

.card-form {
    background-color: var(--white-color);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

#alert-dialog-title, #alert-dialog-description {
    font-family: "Poppins", sans-serif;
}