@import url('../../../App.css');

body {
    background-color: beige;
}

button, a {
    cursor: pointer;
}

.title-form {
    color: var(--primary-color);
}

.card-form {
    background-color: var(--white-color);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}