@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #e20001;
    --white-color: #FFFFFF;

    --font-size-small: 25px;
    --font-size-medium: 35px;
    --font-size-large: 55px;
    --font-size-extra-large: 75px;

    --margin-small: 5px;
    --margin-medium: 10px;
    --margin-large: 20px;
    --margin-extra-large: 90px;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border-radius: 25px;
    height: 40px;
    width: 300px;
    border-style: none;
    margin-top: 20px;
}

.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.input-form {
    font-family: "Poppins", sans-serif;
    height: 40px;
    width: 280px;
    margin: 3px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
}